@charset "UTF-8";

/* *************************
 * dialog
 * ************************ */
.skill-selection-container {
	padding:16px;
}
.holding-energy {
    display: flex;
    margin-bottom: 16px;
}
.holding-energy .label {
    margin-right: 8px;
}
.skill-panel {
	margin-top: 8px;
	padding: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.15), 0 -1px 2px -1px rgba(0,0,0,.1);
}
.skill-panel:hover {
	background-color: #e6e8ea;
}
.skill-panel.disabled {
	opacity: 0.4;
	cursor: default;
}
.skill-panel.disabled:hover {
	background-color: inherit;
}
.cost-area {
    display: inline-block;
    width: 136px;
    margin-right: 8px;
    vertical-align: middle;
    height: 27px;
}
.skill-caption {
    display: inline-block;
    font-size: 18px;
    width: 220px;
    margin-right: 8px;
    vertical-align: middle;
}
.damage-caption {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    width: 56px;
    vertical-align: middle;
}
.effect-description {
    font-size: 12px;
    margin-top: 8px;
}

.coin {
  background-size: cover;
  border-radius: 50%;
  border-width: 0px;
  border-color: gray;
  border-style: solid;
}
.coin.front {
  background-image: url(../img/coin-front.jpg);
}
.coin.rear {
  background-image: url(../img/coin-rear.jpg);
}
.coin-toss-container {
    position: relative;
    height: 400px;
}
.coin-toss-container .target-coin {
    width: 64px;
    height: 64px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}
.coin-toss-container .explanation {
    border: 1px solid #dadde0;
    padding: 8px;
    position: absolute;
    right: 16px;
    bottom: 40px;
}
.coin-toss-container .explanation .row {
    margin: 4px 0;
}
.coin-toss-container .explanation .coin {
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}

.card-selection-container .required-area,
.energy-selection-container .required-area {
    margin: 16px;
}
.required-area .label {
    margin-right: 8px;
}
.card-list-dialog-container .list-area {
    height: 368px;
    overflow-y: auto;
}
.card-selection-container .list-area,
.energy-selection-container .list-area {
    height: 300px;
    overflow-y: auto;
}
.card-list-dialog-container .row,
.card-selection-container .row,
.energy-selection-container .row {
    margin: 8px 16px;
    padding: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.15), 0 -1px 2px -1px rgba(0,0,0,.1);
}
.energy-selection-container .types {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}
.card-selection-container .caption,
.energy-selection-container .caption {
    display: inline-block;
    width: 200px;
}