@charset "UTF-8";
.hidden {
    display: none !important;
}
.invisible {
    visibility: hidden !important;
}

.select {
    height: 32px;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    cursor: pointer;
    padding: 4px 8px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.3);
}
.btn {
    border: 1px solid #f0f0f1;
    background-color: #f0f0f1;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
    padding: 4px 16px;
    transition: background-color 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.3);
}
.btn:hover {
    border-color: #d6d6d8;
    background-color: #d6d6d8;
}
.btn:active {
    border-color: #c3c3c7;
    background-color: #c3c3c7;
}
.btn:focus {
    outline: none;
}
.btn.disabled {
    color: #d0d0d0;
    opacity: 0.4;
}
.btn.disabled:hover {
    cursor: default;
    background-color: #f0f0f1;
}
.btn.disabled:active {
    background-color: #f0f0f1;
}
.btn.btn-danger {
    color: white;
    background-color: #e91e63;
    border-color: #e91e63;
}
.btn.btn-danger:hover {
    border-color: #d11b59;
    background-color: #d11b59;
}
.btn.btn-danger:active {
    border-color: #b5184e;
    background-color: #b5184e;
}
.btn.btn-primary {
    color: white;
    background-color: #4285f4;
    border-color: #4285f4;
}
.btn.btn-primary:hover {
    border-color: #3b77db;
    background-color: #3b77db;
}
.btn.btn-primary:active {
    border-color: #3369c3;
    background-color: #3369c3;
}

.dialog-backdrop {
    background-color: #000;
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}
.dialog-backdrop.open {
    opacity: 0.7;
    z-index: 9999;
}
.dialog-window {
    background-color: #fff;
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}
.dialog-window.open {
    z-index: 10000;
    opacity: 1;
}
.dialog-header {
    height: 32px;
    color: white;
    background-color: #3b77db;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    line-height: 32px;
    padding: 8px 16px;
}
.dialog-buttons {
    padding: 16px;
    bottom: 0;
    position: absolute;
    width: calc(100% - 32px);
    text-align: right;
    border-top: 1px solid #dadde0;
}
.dialog-buttons .btn {
    margin-left: 16px;
}

.checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 8px;
    border: 1px solid #a4aab0;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    top: 3px;
}
.checkbox:after {
    display: inline-block;
    content: ".";
    width: 12px;
    height: 12px;
    color: transparent;
    background-color: transparent;
    border-radius: 3px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: background-color 0.15s ease;
}
.checkbox.checked:after {
    background-color: #a4aab0;
}
.checkbox.disabled,
.checkbox.disabled:after {
    opacity: 0.4;
    cursor: inherit;
}

.divider {
    color: #a4aab0;
}

.field {
    display: inline-block;
    position: relative;
}

.detail {
    top: 0;
    right: 0;
    position: fixed;
    width: 320px;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.player-field {
    display: flex;
    height: 332px;
    margin: 8px;
    width: 920px;
}

.message-window {
    height: 162px;
    margin: 16px 16px 4px 16px;
    padding: 8px;
    border: 10px double #555;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    overflow-y: auto;
}

.deck-area {
    flex-basis: 98px;
    margin: 0 8px;
}

.monster-area {
    flex-grow: 1;
    margin: 0 8px;
}

.side {
    flex-basis: 98px;
    margin: 0 8px;
    padding: 8px;
    border: 2px dashed #ccc;
    position: relative;
}

.deck {
    height: 146px;
    padding: 4px;
    margin: 8px 0;
    border: 2px solid #ccc;
}
.rest-card-count {
    font-weight: bold;
    color: #fff;
    padding: 4px;
    opacity: 0.9;
}

.trush {
    border: 2px dashed #ccc;
    height: 146px;
    padding: 4px;
}

.bench {
    height: 150px;
    margin: 8px 0;
    display: flex;
}

.battle-area {
    display: flex;
}
.turn-indicator-area {
    margin: 8px;
    width: 224px;
    text-align: center;
    position: relative;
}
.turn-indicator {
    padding: 4px 8px;
    color: #fff;
    border-radius: 16px;
    display: inline-block;
    width: 120px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.my-turn {
    background-color: #4285f4;
    top: 0;
}
.rival-turn {
    background-color: #e91e63;
    bottom: 0;
}
.battle-monster {
    height: 150px;
    margin: 8px;
    display: flex;
    justify-content: center;
}
.barometer {
    margin: 8px;
    width: 224px;
}
.hp-barometer,
.energy-barometer {
    margin: 4px 0;
    display: flex;
}
.barometer-caption {
    margin: 0 4px;
}
.hp-barometer-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.hp-rest {
    background: #00b19d;
    border: 1px solid #aae5de;
    height: 16px;
    width: 16px;
    line-height: 16px;
    margin: 2px;
    border-radius: 50%;
}
.hp-empty {
    background: #fff;
    border: 1px solid #bdbdbd;
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 16px;
    margin: 2px;
    border-radius: 50%;
}
.hands-toggle-caption {
    display: block;
}
.hands-toggle-btn {
    display: block;
    color: #e8e8e8;
    background-color: #bdbdbd;
    width: 24px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease;
}
.hands-toggle-btn:hover {
    color: #ccc;
    background-color: #aaa;
}
.hands-float-area {
    position: absolute;
    background-color: rgba(0,0,0,.75);
    width: 880px;
    display: flex;
    align-items: center;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease, z-index .3s ease;
}
.hands-float-area.shown {
    z-index: 1;
    opacity: 1;
}
.hands-operator {
    display: flex;
    width: 24px;
    height: 164px;
    margin: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
.hands-operator:hover {
	background-color: rgba(255,255,255,.2);
}
.hands-operator:before {
    display:block;
    content: "dummy";
    color: transparent;
    width: 12px;
    height: 12px;
    border-color: #aaa;
    border-style: solid;
    border-width: 0;
    transition: all .3s ease;
}
.hands-operator:hover:before {
    border-color: #e8e8e8;
}
.hands-operator.disabled:before {
    opacity: 0.3;
}
.left-operator:before {
    margin-left: 8px;
    border-top-width: 3px;
    border-left-width: 3px;
    transform: rotate(-45deg);
}
.right-operator:before {
    margin-right: 8px;
    border-top-width: 3px;
    border-right-width: 3px;
    transform: rotate(45deg);
}
.hand-cards-container {
    max-width: 816px;
    margin: 4px 0;
    overflow: hidden;
    display: inline-block;
}
#rival-area .hands-float-area {
    top: 0;
}
#my-area .hands-float-area {
    bottom: 212px;
}

.hands {
    height: 148px;
    min-width: 800px;
    padding: 4px 8px;
    display: flex;
}

.card {
    width: 96px;
    height: 136px;
    margin: 4px;
    border-radius: 2px;
    border: 1px solid #888;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.25), 0 1px 2px 0 rgba(0,0,0,.15), 0 -1px 4px -1px rgba(0,0,0,.1);
}
.card:hover {
    box-shadow: 0 6px 11px 0 rgba(0,0,0,.25), 0 2px 5px 0 rgba(0,0,0,.2), 0 -3px 6px -3px rgba(0,0,0,.08);
}
.card.rear {
    cursor: default;
}
.card.rear:hover {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.25), 0 1px 2px 0 rgba(0,0,0,.15), 0 -1px 4px -1px rgba(0,0,0,.1);
}
.card.unselectable {
	opacity: 0.5;
	cursor: default;
}

.side .card {
    position: absolute;
    margin: 0;
    background-color: white;
}

.side .card:nth-child(1) {
    top: 8px;
}
.side .card:nth-child(2) {
    top: 42px;
}
.side .card:nth-child(3) {
    top: 76px;
}
.side .card:nth-child(4) {
    top: 110px;
}
.side .card:nth-child(5) {
    top: 144px;
}
.side .card:nth-child(6) {
    top: 178px;
}

.hands .card {
    margin: 4px 8px;
}
.hands .card:first-child {
    margin-left: 0;
}
.hands .card:last-child {
    margin-right: 0;
}
.bench .card {
    margin: 4px 10.5px;
}

.type-area {
    font-size: 10px;
    margin: 4px;
    background-color: white;
}

.type-mark {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.detail-content {
    font-size: 16px;
    margin: 16px;
    padding: 8px;
    background-color: #fff;
}
.detail-name {}

.card .type-mark {
    height: 15px;
    width: 15px;
    background-size: cover;
    vertical-align: bottom;
}

.detail-content .type-mark {
    height: 28px;
    width: 28px;
    background-size: cover;
    vertical-align: sub;
    margin-right: 8px;
}

.card-img {
    margin: 0 4px;
}

.card-img.img-1,
.card-img.img-2,
.card-img.img-3,
.card-img.img-supporter,
.card-img.img-goods {
    width: 88px;
    line-height: 69px;
}
.card-img.img-supporter,
.card-img.img-goods{
    margin-bottom: 8px;
    margin-top: 5px;
    height: 49px;
}
.card-img.img-energy {
    width: 88px;
    height: 108px;
}
.card-img.img-energy-sp {
    width: 88px;
    height: 62px;
}

.name-area {
    font-size: 12px;
    margin: 4px 4px 16px 4px;
    background-color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.img-energy+.name-area {
    display: none;
}

.detail-area-name {
    font-size: 20px;
    border-bottom: 2px solid #4b9bff;
    margin-bottom: 8px;
}

.detail-kind-caption {
    display: inline-block;
    width: 180px;
}

.detail-max-hp {
    display: inline-block;
    width: 86px;
    text-align: right;
}

.detail-img {
    width: 272px;
}

.detail-img.img-energy,
.detail-img.img-energy-sp {
    width: 272px;
}

.detail-skill1,
.detail-skill2 {
    border-bottom: 1px solid #dadde0;
    margin-top: 8px;
    font-size: 18px;
}

.skill1-cost,
.skill2-cost {
}

.skill1-description,
.skill2-description {
    font-size: 10.5px;
}

.skill1-name,
.skill2-name {
    display: inline-block;
    margin-right: 8px;
    width: 200px;
}

.skill1-damage,
.skill2-damage {
    display: inline-block;
    width: 56px;
    font-weight: bold;
}

.detail-escape-cost,
.detail-weak,
.detail-regist {
    margin-top: 4px;
}

.detail-escape-simbol {
    vertical-align: middle;
    margin-right: 4px;
}

.detail-energy,
.detail-damage,
.detail-status {
	display: flex;
	margin-bottom: 8px;
}

.detail-content .label {
    margin-right: 8px;
    vertical-align: middle;
    display: inline-block;
    width: 81px;
    flex-basis: 92px;
}
.detail-content .value-group {
	flex-basis: 208px;
}

.detail-description {
    margin: 8px 0;
    padding: 4px;
}

.buttons-content .btn {
    margin-right: 8px;
}
.buttons-row {
    margin: 16px;
}

.card.rear {
    background-image: url("../img/rear.jpg");
    background-size: 96px 136px;
}

.card.normal {
    background-color: #e6e6e6;
}
.card.normal:hover {
    background-color: #d6d6d6;
}
.card.normal .type-mark,
.detail-content.normal .type-mark {
    background-image: url(../img/type/normal.jpg);
}

.card.leaf {
    background-color: #00a65a;
}
.card.leaf:hover {
    background-color: #008d4c;
}
.card.leaf .type-mark,
.detail-content.leaf .type-mark {
    background-image: url(../img/type/leaf.jpg);
}

.card.fire {
    background-color: #ff4444;
}
.card.fire:hover {
    background-color: #d0362f;
}
.card.fire .type-mark,
.detail-content.fire .type-mark {
    background-image: url(../img/type/fire.jpg);
}

.card.aqua {
    background-color: #44cbff;
}
.card.aqua:hover {
    background-color: #3cb2e0;
}
.card.aqua .type-mark,
.detail-content.aqua .type-mark {
    background-image: url(../img/type/aqua.jpg);
}

.card.thunder {
    background-color: #f7f139;
}
.card.thunder:hover {
    background-color: #e0da2b;
}
.card.thunder .type-mark,
.detail-content.thunder .type-mark {
    background-image: url(../img/type/thunder.jpg);
}

.card.fight {
    background-color: #e25b1a;
}
.card.fight:hover {
    background-color: #ce541b;
}
.card.fight .type-mark,
.detail-content.fight .type-mark {
    background-image: url(../img/type/fight.jpg);
}

.card.esper {
    background-color: #722aff;
}
.card.esper:hover {
    background-color: #611fe2;
}
.card.esper .type-mark,
.detail-content.esper .type-mark {
    background-image: url(../img/type/esper.jpg);
}

.card.trainer {
    background-color: #fff;
}
.card.trainer:hover {
    background-color: #f2f2f2;
}
.card.trainer .type-mark,
.detail-content.trainer .type-mark {
    display: none;
}

.cost,
.damage-counter {
    height: 22px;
    width: 22px;
    background-size: cover;
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
    vertical-align: middle;
}
.cost.normal {
    background-image: url(../img/type/normal.jpg);
}
.cost.leaf {
    background-image: url(../img/type/leaf.jpg);
}
.cost.fire {
    background-image: url(../img/type/fire.jpg);
}
.cost.aqua {
    background-image: url(../img/type/aqua.jpg);
}
.cost.thunder {
    background-image: url(../img/type/thunder.jpg);
}
.cost.fight {
    background-image: url(../img/type/fight.jpg);
}
.cost.esper {
    background-image: url(../img/type/esper.jpg);
}
.damage-counter {
    background-image: url(../img/damage10.jpg);
}
.status {
	display: inline-block;
	height: 24px;
	font-size: 12px;
}
.status.poison:before {
	content: 'どく';
	color: #fff;
	background-color: #c44ad9;
	padding: 2px 8px;
	border-radius: 24px;
	margin-right: 4px;
}
.status.double-poison:before {
	content: 'どくどく';
	color: #fff;
	background-color: #c44ad9;
	padding: 2px 8px;
	border-radius: 24px;
	margin-right: 4px;
}
.status.burn:before {
	content: 'やけど';
	color: #fff;
	background-color: #e91e63;
	padding: 2px 8px;
	border-radius: 24px;
	margin-right: 4px;
}
.status.sleep:before {
	content: 'ねむり';
	color: #fff;
	background-color: #4285f4;
	padding: 2px 8px;
	border-radius: 24px;
	margin-right: 4px;
}
.status.paralysis:before {
	content: 'マヒ';
	color: #fff;
	background-color: #f4b142;
	padding: 2px 8px;
	border-radius: 24px;
	margin-right: 4px;
}
.status.confusion:before {
	content: 'こんらん';
	color: #fff;
	background-color: #9299a0;
	padding: 2px 8px;
	border-radius: 24px;
	margin-right: 4px;
}